body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.noDisplay {
  display:none;
}

/* Styleing for Category Page */

.mainProductPage {
  display: flex;
  justify-content:space-between;
}

.categoryCards {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 0px;
  margin:0px;
}

#catergoryClick {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    font-size: 4vw;
    padding: 10px;
}

#catergoryClick:hover {
  background-color: rgb(76, 126, 128);
  text-decoration: none;
}

.categoryLinks h2 {
  margin:0px;
  padding: 0px;
}

.categoryLinks {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-direction: column;
  background-color: cadetblue;
  font-style: none;
}

.productCard {
  font-size: 1.5vw;
  background-color: darkblue;
  border-radius: 8%;
  padding: 5px;
  padding-top: 0px;
  text-align: center;
}

.productCards {
  color: #eee;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:20px

}
