body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.noDisplay {
  display:none;
}

/* Styleing for Category Page */

.mainProductPage {
  display: flex;
  justify-content:space-between;
}

.categoryLinks {
  display: flex;
  flex-direction: column;
}

.productCard {
  background-color: darkblue;
}

.productCards {
  color: #eee;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
