body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFDFA;
  text-align: left;
  overflow-x: hidden;
}

.noDisplay {
  display:none;
}

/* Styleing for Category Page */

.mainProductPage {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  margin-top: 40px;
}

/*Start Banner */

.banner {
  max-width: 100vw;
}

.banner-container {
  margin: 0px;
}

.banner {
  width: 100%;
}

.banner-summary {
  /* position: absolute; */
  /* top: 60%; */
  /* left: 40%; */
  /* transform: translate(-50%, -50%); */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

.banner-summary h1 {
  font-size: 1.2em;
}

.banner-summary p {
  font-size: .8em;
}

@media (min-width: 768px) { 

.banner {
  max-width: 100vw;
}

.banner-container {
  position: relative;
}

.banner {
  width: 100vw;
}

.banner-summary {
  /* position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%); */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

.banner-summary h1 {
  font-size: 4em;
}

.banner-summary p {
  font-size: 1.5em;
}
}

@media (min-width: 992px) { 

  .banner {
    max-width: 100vw;
  }
  
  .banner-container {
    position: relative;
  }
  
  .banner {
    width: 100%;
  }
  
  .banner-summary {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
    color: white;
  }
  
  .banner-summary h1 {
    font-size: 2em;
  }
  
  .banner-summary p {
    font-size: 1.2em;
  }
}

@media (min-width: 1200px) { 

  .banner {
    max-width: 100vw;
  }
  
  .banner-container {
    position: relative;
  }
  
  .banner {
    width: 100%;
  }
  
  .banner-summary {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
    color: white;
  }
  
  .banner-summary h1 {
    font-size: 4em;
  }
  
  .banner-summary p {
    font-size: 1.5em;
  }
  }

/*End Banner */

.categoryCards {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 0px;
  margin:0px;
  flex-wrap:wrap;
  font-size: 2em;
  margin: .2em;
}

#catergoryClick {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background-color: 	#5e7cbd;
    color:#fff;
    transition: background-color 0.2s ease-in-out;
    font-size: 2vw;
    padding: 10px;
    width: 15em;
    height: 15em;
}

#catergoryClick:hover {
  background-color: 	#2558c7;
  text-decoration: none;
}

.categoryLinks h2 {
  margin:0px;
  padding: 0px;
}

.categoryLinks {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-direction: column;
  background-color: 	#2558c7;
  font-style: none;
  flex-wrap: wrap;
}

@media (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/*End of category*/

.productHeader {
  font-size: 1.3em;
  margin: 0;
  color: #292828;
  margin:0px;
  padding-top: 3em;
}

.productCards {
  color: #eee;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:15px;
  display: flex;
  text-decoration: none;
  margin: 5px;
}

.productCard {
  width: 10em;
  height: 15em;
  background-color: #fff;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
}

.productCard h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: black;
  text-decoration: underline;
}

.productCard p {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: gray;
}

.productCard .categoryImage {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productCard .categoryImage img {
  width: 5em;
  height: 5em;
}

@media (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/*End of product view */

/*Single view style*/

.productView {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  align-content: center;
  margin-bottom: 2rem;
  
}

.productImage {
  flex: 1;
  max-width: 50%;
}

.productImage img {
  display: block;
  max-width: 20vw;
  height: auto;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0px;
}

.productDetails {
  flex: 1;
  max-width: 50%;
}

.productDetails h2 {
  font-size: 2rem;
  margin: 0 0 1rem;
  color: #444;

}

.productDetails .productDescription {
  font-size: 1.2rem;
  margin: 0 0 1rem;
  color: #444;
}

.productDetails .productInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444;

}

.productDetails .productPrice {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: #444;
}

.productDetails .productAddToCart {
  font-size: 1rem;
  background-color: #cc4717;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.productDetails .productAddToCart:hover {
  background-color: #dd673d;
}

.productNav {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  font-size: 1.2em;
  /* margin-top: 2; */
}

.productNav a {
  color: #444;
  text-decoration: none;
  margin: 0 10px;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}

.productNav a:hover {
  color: #e5ac5a;
  transform: translateY(-2px);
}

/* form for admin*/

#productForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  gap: 5px
}

#productForm label {
  margin-bottom: 5px;
  font-weight: bold;
}


/* loading stuff */

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 48%;
  left: 45%;
  transform: translate(-50%, -50%);
  border: 4px solid black;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: black;
  animation: loader-inner 2s infinite ease-in;
}



@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

